.add-course {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}

.navbar {
    padding: 16px;
    background: #ccc;
    font-size: 24pt;
    display: flex;
    flex-direction: row;
}

.footer {
    display: flex;
    flex-direction: row;
    gap: 16px;
    padding: 16px;
    background: #ccc;
}